

body {
    background-image: linear-gradient(to right, #22333B, #2a414b );
}

/* Main container for other chat parts */
.chat-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.chat-window {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-headers {
    display: flex;
   }

.chat-main-windows {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-content: flex-start;
    gap: 10px;
    width: 90%;
}

.online-users {
    flex-grow: 1;
    text-align: center;
}
/* Top chat header displaying name of current chat*/
#chat-with {
    /* background-color: grey;
    flex-grow: 4;*/
    /* width: 90vw;
    height: 25px;*/
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    border-bottom: 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #00000045;
    /* border: outset;*/
    border-color: #00000045;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C6AC8E;
}



/* Users displaying window */
#users {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    Background-color: #00000045;
    border-color: #00000045;
}

.online-user-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*position: relative;*/
    width: 25%;
    /*min-width: 20%;*/
    /*flex-grow: 2;*/
    /*margin:0px 0px 10px 0px;*/
}

.online-users-header {
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    /*padding-bottom: 5px;*/
    border-bottom: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #00000045;
    /*border: outset;*/
    border-color: #00000045;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C6AC8E;
}



/* Each online user display settings */
.user-container {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    width: 100%;
    /*display:flex;*/
    padding: 5px 0px 5px 0px;
    border: none;
    justify-content: space-around;
    margin:5px 0px;
    cursor: pointer;
}

    .user-container:hover {
        background-color: #00000025;
    }

.new-message-counter {
   visibility: hidden;
   font:bold;
    color: red;
    border-radius: 6px;
    width: 15px;
    height: 15px;
    align-self: center;
}

.new-user {
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    color: #EAE0D5;
}

/* Messages displaying window */
#messages {
    overflow-y: auto;
    height: 80vh;
    width: 100%;
    /*padding: 5px;*/
    /*border: 1px inset;*/
    display: flex;
    flex-direction: column;
    Background-color: #00000045;
    /*border: outset;*/
    border-color: #00000045;
    
    /*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/

}

/* Message object settings*/
.date {
    color: grey;
    font: Courier New;
    position: absolute;
    top: 10px;
    right: 10px;
}

.message {
    font-family: "Caveat", sans-serif;
    font-size: 18px;
    font: Arial;
    position: absolute;
    top: 30px;
    left: 10px;
}

.sender {
    font-family: "Audiowide", sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Window for message displaying */
.new-message-container {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    position: relative;
    width: 75%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}


.revert {
    flex-direction: row-reverse;
    align-self: flex-end;
}
/*.message-content {
    height: auto;
    overflow-y: auto;
    background-color: rgb(165, 159, 159, 0.59);
    padding: 15px;
}*/
.new-message {
    background-color: /* rgb(165, 159, 159, 0.59);*/ #A6A6A6;
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
    /*border-top-left-radius: 0;*/
    height: auto;
    overflow-y: auto;
    flex-grow: 4;
    order: 1;
    text-align: left;
    /*font-family: 'Comic Sans MS';
    font: 100;*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.new-message:hover .new-date {
    visibility: visible;
    transition-delay: 1s;
}

.left-msg {
    border-top-left-radius: 0;
}

.right-msg {
    border-top-right-radius: 0;
}

.new-sender {
    text-align: center;
    padding: 0px 15px 0px 15px;
    /*position:relative;*/
    top: 10px;
    left: 10px;
    /*flex-grow: 1;*/
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    color: #EAE0D5;
}

.new-date {
    visibility: hidden;
    color: #D0D0D0;
    font: Courier New;
    /*text-align:left;*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
}


.profile-img {
    
    border-radius: 40px;
    width: 80px;
    height: 80px;
}

.profile-img-online {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 5px;
}


.message-container {
    /*flex-grow: 4;*/
    position: relative;
    width: 95%;
    height: 8vh;
    border-color: black;
    border-radius: 10px;
    border: 1px inset;
    text-align: left;
    padding: 10px;
    /*flex-shrink: 0;*/
    margin: 2px;
    /*flex-wrap: wrap;*/
}



.event-message {
    /* border-top: 1px inset;*/
    font-family: "Caveat", sans-serif;
    font:100;
    
    font-size: 18px;
    padding: 3px;
    /*font: Arial;*/
    text-align: center;
    position: relative;
    margin: 8px;
}

.login-event {
    background-image: linear-gradient(to right, #00000005, /*#c9f2c784*/ #345635, #00000005 );
}

.logout-event {
    background-image: linear-gradient(to right, #00000005, /*#fcb5b57c*/ #7E102C, #00000005 );
}


/* Container for sending button,
 message text field and chat switch button*/
.inputContainer {
    display: flex;
    align-items: flex-end;
    /*padding: 0px 0px 5px 0px;*/
    /*background-color:red;*/
    width: 100%;
    height: 56px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #00000045;
    
}


/* Text field for writing messages */
#input-msg {
    height: 40px;
    /*border-bottom-left-radius: 15px;*/
    margin:0px 0px 10px 0px;
    /*border-bottom-right-radius: 15px;*/
    flex-grow: 4;
    background-color: #00000005;
    resize: none;
}

/* Message send button */
.send-msg-btn {
    height: 46px;
    cursor: pointer;
    margin: 0px 10px 10px 0px;
    border-bottom-right-radius: 15px;
    /* border-bottom-left-radius: 15px;*/
    width: 50px;
    background-color: #00000025;
    border:none;
}


    #send-msg-btn:hover {
        border: 1px outset;
    }

    #send-msg-btn:active {
        border: 1px inset;
    }

button img {
    width: 50%;
    height: 100%;
    position: relative;
   
}

.settings-btn {
    height: 46px;
    cursor: pointer;
    margin: 0px 0px 10px 10px;
    border-bottom-left-radius: 15px;
    /* border-bottom-left-radius: 15px;*/
    width: 50px;
    background-color: #00000025;
    border: none;
}









/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;


}

.dropbtn {
    height: 46px;
    cursor: pointer;
    margin: 0px 0px 10px 10px;
    border-bottom-left-radius: 15px;
    width: 50px;
    background-color: #00000025;
    border: none;

    padding: 0px 0px;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 56px;
    left: 10px;
    background-color: #00000025;
    min-width: 160px;
    z-index: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    /* Links inside the dropup */
    .dropup-content > * {
        color: black;
        padding: 10px 5px;
        text-decoration: none;
        display: block;
        border:none;
        background-color: #00000025;
    }

        /* Change color of dropup links on hover */
        .dropup-content > *:hover {
            background-color: #00000055;
        }

        .dropup-content > *:first-child {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }


.show {
    display: flex;
    flex-direction: column;
}

.modal-off {
    display:none;

}.modal-on {
     display:block;
 }

/*modal settup*/
.modal {
    display:none;
    z-index: 1;
    position:fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rgb(0,0,0,0.2);
    align-content: center;
}

.modal-content {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    height: 60%;
    border: 1px solid #888;
    border-radius: 15px;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
   /* position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.history-modal-content {
    width: 90%;
    height: 60%;
    border: 1px solid #888;
    border-radius: 15px;
    background-image: linear-gradient(to right, #22333B, #2a414b );
    margin: auto;
    padding: 10px;
}

.modal-content > * {
    align-self: center;

}

.modal-header {
    /* position:relative;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    text-align: center;
    background-color: rgb(0,0,0,0.2);
    border-bottom: 1px solid black;
    /* display:flex;
    flex-direction: column;*/
}

.history-window {
    display: flex;
    flex-direction: column;
    top: 50px;
    height: 90%;
    width: 100%;
    background-color: rgb(0,0,0,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    /*margin: 0px 5px 5px 5px;*/
    overflow-y: auto;
}


#user-to-find {
  /*  align-self: flex-start;
    flex-grow: 1;*/
  position:relative;
  left: 10px;
}

.close {
    position: relative;
    top: 2px;
    right: 100px;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.drop-area {
    width: 170px;
    height: 170px;
    border: 2px dashed #2b5263;
    background-color: rgb(50, 136, 241, 0.4);
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
}

    .drop-area:hover {
        border: 3px dashed #2b5263;
    }

/* Show the dropup menu on hover */
/*.dropup:hover .dropup-content {
    display: block;
}*/

/* Change the background color of the dropup button when the dropup content is shown */
/*.dropup:hover .dropbtn {
    background-color: #2980B9;
}*/











/* Public to USer chat switching button*/
#public-chat-btn {
    width: 100%;
    height: 55px;
    cursor: pointer;
    background-color: #00000045;
    border-color: #00000045;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*color: #C6AC8E;*/
    color: darkgrey;
}
