<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{CSS/chat_style.css}">
    <!--<link rel="stylesheet" type="text/css" href="/static/CSS/chat_style.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <title>Chat</title>

</head>
<body>
<div class="chat-body">
    <div class="chat-main-windows">
        <!--<div class="chat">-->
        <div class="online-user-panel">
            <div class="online-users-header">
                Online users
            </div>
            <div id="users">
            </div>
            <button id="public-chat-btn" type="button" onclick="switchToPublic()">Public chat</button>
        </div>
        <div class="chat-window">
            <div id="chat-with">Public chat</div>
            <div id="messages">
                <!---->
                <!-- <div class="new-message-container revert ">
                     <div class="new-sender"> Askir
                         <img class="profile-img" src="/static/Images/profileImg.jpg" alt="avatar">
                     </div>
                     <div class="new-message right-msg">
                         <div class="new-date">22.1.2024</div>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos distinctio id illum
                         laboriosam libero maiores necessitatibus quas quidem totam? Adipisci aperiam asperiores beatae
                         in
                         molestias officia sed sint ullam.

                     </div>
                 </div>

                 <div class="new-message-container">
                     <div class="new-sender"> Askir
                         <img class="profile-img" src="/static/Images/profileImg.jpg" alt="avatar">
                         &lt;!&ndash;<div class="new-date">22.1.2024</div>&ndash;&gt;</div>
                     <div class="new-message left-msg">
                         <div class="new-date">22.1.2024</div>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos distinctio id illum
                         laboriosam libero maiores necessitatibus quas quidem totam? Adipisci aperiam asperiores beatae
                         in
                         molestias officia sed sint ullam.

                     </div>
                 </div>
                 &lt;!&ndash;<div class="event-message-container">&ndash;&gt;
                 <div class='event-message logout-event'>
                     Skaman just logged out.
                 </div>
                 &lt;!&ndash;            </div>&ndash;&gt;
                 &lt;!&ndash;<div class="event-message-container">&ndash;&gt;
                 <div class='event-message login-event'>
                     Skaman just enter the chat.
                 </div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="inputContainer">
        <input id="input-msg" placeholder="Write a message here">
        <button type="submit" id="send-msg-btn" onclick="send()" name="send_msg_btn" value="Send message">
            <img src="https://icons.getbootstrap.com/assets/icons/send.svg" alt="Chybí obrázek"/>
        </button>
    </div>
</div>
<!---->
<div id="user-data" th:data-user="${user}"></div>
<!---->
<!--<form th:action="@{/logout}" method="post">-->
<input type="button" value="Logout" onclick="logOutUser()">
<!--</form>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"
        integrity="sha512-aHuAnb+FZ/yM5zYvdiA8q0sxLdsBQ3PRwO8D/08qsenCLQ2gWsosB43Cn1X8esAz0IpaC7Ns5cAPyKIdJQ0hNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"
        integrity="sha512-tL4PIUsPy+Rks1go4kQG8M8/ItpRMvKnbBjQm4d2DQnFwgcBYRRN00QdyQnWSCwNMsoY/MfJY8nHp2CzlNdtZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" th:src="@{JS/chatScript.js}"></script>

</body>
</html>