<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{CSS/ErrorPage_style.css}">
    <!--<link rel="stylesheet" type="text/css" href="/static/CSS/ErrorPage_style.css">-->
    <title>Error</title>
</head>
<body>
<h2>OOPS! Looks like we have error here!</h2><br>
<p>You have been logged out for security.</p>
<div class="error-window">
    <p>Error status code</p>
    <p id="status" th:text="${errorCode}">404</p>
    <p>Error message</p>
    <p id="err-message" th:text="${errorMessage}">Page not found</p>

    <form th:action="@{/}" method="get">
        <input class="back-btn" type="submit" value="Back main page">
    </form>
</div>
</body>
</html>